<div class="open-modal animation fadeIn" *ngIf="modalService.modal">
    <div class="modal" tabindex="-1" style="display: block;">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{title}}</h5>
              <button (click)="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
        
                            <ul *ngIf="student" class="list-group text-dark mb-3">
                                <li class="list-group-item active">{{student.name}}</li>
                                <li class="list-group-item">{{student.lastname}}</li>
                                <li class="list-group-item">{{student.email}}</li>
                                <li class="list-group-item">{{student.createAt | date:"fullDate"}}</li>
                                <li class="list-group-item">{{student.region.name}}</li>
                            </ul>
        
                            <div class="input-group mb-3" *ngIf="authService.hasRole('ROLE_ADMIN')">
                                <input (change)="selectPicture($event)" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                <button (click)="uploadPicture()" [disabled]="!pictureSelect" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
                            </div>
        
                            <div *ngIf="progress > 0" class="progress" style="height: 30px">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" attr.aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: progress+'%'}">
                                    {{progress}}%
                                </div>
                              </div>
        
                        </div>
                        <div class="col-sm">
                            <img *ngIf="student?.picture" src="http://localhost:8080/api/uploads/img/{{student.picture}}" alt="{{student.picture}}" class="img-thumbnail rounded">
                        </div>
                    </div>
                    <div class="row">
                      <div class="alert alert-info my-4" *ngIf="student.grades.length==0">
                          No hay calificaciones para el estudiante {{student.name}} {{student.lastname}}.
                      </div>

                      <table class="table table-bordered table-striped my-4" *ngIf="student.grades.length>0">
                        <thead>
                          <tr>
                            <th>Calendario</th>
                            <th>Fecha creación</th>
                            <th>Promedio</th>
                            <th>Detalle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let grade of student.grades">
                            <td>{{grade.calendar}}</td>
                            <td>{{grade.createAt}}</td>
                            <td>{{grade.average}}</td>
                            <td><button class="btn btn-primary btn-sm" type="button"
                              [routerLink]="['/grades', grade.id]">ver</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button (click)="closeModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>
