<div class="card border-primary text-center">
    <div class="card-header">Alumnos</div>
    <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/students/form']">Agregar alumnos</button>
    </div>
    <div class="card-body text-primary">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo electrónico</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of listStudents">
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.lastname}}</td>
                    <td>{{student.email}}</td>
                    <td>
                        <button class="btn btn-light btn-sm" type="button" name="editar" [routerLink]="['/students/form', student.id]">Editar</button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" type="button" name="eliminar" (click)="delete(student)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
