<div class="card bg-light" *ngIf="grade">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
        <h4 class="card-title">
            <a [routerLink]="['/students']" class="btn btn-light btn-xs"> &laquo; volver</a>
        </h4>
        <form #gradeForm="ngForm">
            <div class="form-group row" *ngIf="grade.student">
                <label for="estudiante" class="col-sm-2 col-form-label">Estudiante: </label>
                <div class="col-sm-6">
                    <input type="text" name="estudiante" value="{{grade.student.name}} {{grade.student.lastname}}" class="form-control" id="estudiante" disabled>
                </div>
            </div>

            <div class="form-group row">
                <label for="calendario" class="col-sm-2 col-form-label">Calendario: </label>
                <div class="col-sm-6">
                    <input type="text" name="calendario" [(ngModel)]="grade.calendar" class="form-control" id="calendario" required #calendar="ngModel" pattern="[0-9]{4}[a-bA-B]">
                    <div class="alert alert-danger" *ngIf="calendar.invalid && calendar.touched || calendar.invalid && gradeForm.submitted">
                        El calendario es requerido. <br>
                        El formato del calendario debe ser 4 digitos y una letra (A - B). Ejemplo: "2010A" o "2010B"
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Asignatura</mat-label>
                        <input type="text"
                               placeholder="Elegir asignatura"
                               aria-label="Asignatura"
                               matInput
                               [formControl]="autoCompleteControl"
                               [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="showName" (optionSelected)="selectedSubject($event)" >
                          <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject">
                            {{subject.name}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <div class="alert alert-danger" *ngIf="autoCompleteControl.invalid && gradeForm.submitted">
                        Se debe añadir al menos una materia. No puede estar vacío.
                      </div>
                </div>
            </div>

            <div class="alert alert-info my-4" *ngIf="grade.item_grades.length==0">
                No hay materias seleccionadas. Seleccionar al menos una.
            </div>

            <table class="table table-striped table-hover table-sm" *ngIf="grade.item_grades.length>0">
                <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Asignatura</th>
                        <th>Calificación</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of grade.item_grades">
                        <td>{{item.subject.id}}</td>
                        <td>{{item.subject.name}}</td>
                        <td> <input type="number" value="{{item.score}}" class="form-control col-sm-4" (change)="updateScore(item.subject.id, $event)"> </td>
                        <td><button class="btn btn-danger btn-sm" type="button"
                             (click)="deleteItemGrade(item.subject.id)">x</button></td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="submit" (click)="create(gradeForm)" value="Crear" class="btn btn-secondary">
                </div>
            </div>

        </form>
    </div>
</div>